# Python
.env
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# VS Code
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

# Local environment
.env.*